@forward './colors.scss';
@forward './mixin.scss';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  &:focus, &:hover {
    outline: none;
  }

  &:focus-visible {
    outline: 4px solid lime;
  }
}

section {
  width: 100%;
}